.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00171f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#accordion-button-ok {
  background-color: #267E2D; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
}

#accordion-button-nok {
  background-color: #C10B0B; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
}

.centered-container {
  width: 836px; /* Puedes ajustar el ancho según tus necesidades */
  height: auto; 
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px; /* Esto crea los bordes redondeados */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); /* Agrega una pequeña sombra */
  background-color: #1c2541; /* Color de fondo del contenedor, puedes cambiarlo según tus preferencias */
}

.custom-search {
  position: relative;
  margin-bottom: 50px;
}
.custom-search-input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  font-size: medium;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.custom-search-button {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #d1095e;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 20px;
  z-index: 2;
  font-size: medium;
}

.custom-search-button:hover {
  background-color: #2980b9; /* Color que deseas al pasar el mouse por encima */
}

.custom-textarea {
  width: 100%;
  outline: none;
  border-radius: 20px;
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.centrado {
  padding-left:250px;

}